@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(232, 228, 217);
}

.menu__button-line1, .menu__button-line2, .menu__button-line3{
    width: 100px;
    height: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 10px #000;
}

.menu__button{
    display: none;
	background: transparent;
	outline-style: none;
	border: none;
	cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
}


.one.active{
		animation: vertical 1s forwards;
}
.two.active{
		animation: dissapear 1s forwards;
}
.three.active{
		animation: vertical2 1s forwards;
}

@keyframes vertical{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: transplateY(22px) rotate(0);
	}
	100%{
		transform: translateY(22px) rotate(45deg);
	}
}

@keyframes dissapear{
	0%{
		transform: scale(100%);
	}
	50%{
		transform: scale(70%);
	}
	51%{
		transform: scale(0%);
	}
	100%{
		transform: scale(0%);
	}
}

@keyframes vertical2{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-22px) rotate(0);
	}
	100%{
		transform: translateY(-22px) rotate(-45deg);
	}
}

.one{
		animation: original 1s forwards;
}
.two{
		animation: appear 1s forwards;
}
.three{
		animation: original2 1s forwards;
}


@keyframes original{
	0%{
		transform: translateY(22px) rotate(45deg);
	}
	50%{
		transform: translateY(22px) rotate(0);
	}
	100%{
		transform: translateY(0px);
	}
}

@keyframes appear{
	0%{
		transform: scale(0%);
	}
	49%{
		transform: scale(0%);
	}
	50%{
		transform: scale(50%);
	}
	100%{
		transform: scale(100%);
	}
}

@keyframes original2{
	0%{
		transform: translateY(-22px) rotate(-45deg);
	}
	50%{
		transform: translateY(-22px) rotate(0);
	}
	100%{
		transform: translateY(0px);
	}
}

.show{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(210, 200, 190);
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    background-color: rgb(210, 200, 190);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header__img{
    height: 100px;
}

.header__title{
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: underline;
}

.header__nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 35%;
    list-style: none;
    font-size: 1.2em;
}

.nav-list__li{
    padding: 0 10px;
}

.nav-list__li-a{
    color: #000;
    text-decoration: none;
}

.nav-list__li-a:hover{
    text-decoration: underline;
    color: #888;
}

.nuestras-pastas{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.nuestras-pastas__1{
    height: 50vh;
    width: 50%;
    text-align: center;
    background: url("./img/nuestas-pastas-bg.jpeg") center / cover no-repeat;
}

.nuestras-pastas-1__title, .nuestros-sabores-2__title, .nuestras-salsas-1__title, .nuestros-combos-2__title, .pedidos-1__title, .nuestras-formas-pagos-2__title{
    position: relative;
    top: 38%;
    left: 32%;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.glass{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
}

.nuestras-pastas__2, .nuestros-sabores__1, .nuestras-salsas__2, .pedidos__2, .nuestras-formas-pagos__1{
    height: 50vh;
    width: 50%;
    text-align: center;
    background-color: rgb(210, 200, 190);
}

.nuestros-sabores__1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.nuestras-pastas__2-list, .nuestros-sabores__1-list, .nuestros-sabores__1-list-2, .nuestras-salsas__2-list, .nuestras-formas-pagos__1-list{
    list-style: none;
    font-size: 1.5em;
    position: relative;
    top: 20%;
}

.nuestros-sabores__1-list, .nuestras-salsas__2-list{
    text-align: center;
    margin-left: 15px;
    top: 5%;
}

.nuestros-sabores__1-list-2{
    text-align: center;
    top: 5%;
    left: 20%;
}

.nuestros-sabores, .nuestras-salsas, .nuestros-combos, .pedidos, .nuestras-formas-pagos{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.nuestros-sabores__2{
    height: 50vh;
    width: 50%;
    text-align: center;
    background: url("./img/nuestros-sabores-bg.jpeg") center / cover no-repeat;
}

.nuestras-salsas__1{
    height: 50vh;
    width: 50%;
    text-align: center;
    background: url("./img/nuestras-salsas-bg.jpeg") top / cover no-repeat;
}

.nuestras-salsas__2-list{
    top: 25%;
}

.nuestros-combos__1{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: left;
    background-color: rgb(210, 200, 190);
}

.nuestros-combos__1 select{
    width: 60%;
    margin: 20px;
}

.flex-row{
    flex-direction: row;
}

.nuestros-combos__2{
    height: 50vh;
    width: 50%;
    text-align: center;
    background: url("./img/WhatsApp\ Image\ 2022-03-08\ at\ 22.45.47\(1\).jpeg") center / cover no-repeat;
}

.pedidos__1{
    height: 50vh;
    width: 50%;
    text-align: center;
    background: url("./img/pedidos-bg.jpeg") center / cover no-repeat;
}

.pedidos-2__p{
    font-size: 1.5em;
    position: relative;
    top: 35%;
    text-align: center;
}

.nuestras-formas-pagos__2{
    height: 50vh;
    width: 50%;
    text-align: center;
    background: url("./img/formas-de-pago.jpeg") center / cover no-repeat;
}

.footer{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content 1fr;
    text-align: center;
    background-color: rgb(210, 200, 190);
    padding: 20px;
}

.footer__title{
    grid-column: 1 / 2;
    text-decoration: underline;
}

.footer__list{
    grid-row: 2 / 3;
    list-style: none;
    font-size: 1.5em;
}

.footer__title-2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-decoration: underline;
}

.footer__list-2{
    grid-row: 2 / 3;
    list-style: none;
    font-size: 1.3em;
}

.footer-list__li-a{
    color: #000;
    text-decoration: none;
}

.footer-list__li-a:hover{
    color: #888;
    text-decoration: underline;
}

.footer__list a{
    color: #000;
    text-decoration: none;
}

.footer__list a:hover{
    color: #888;
    text-decoration: underline;
}

@media (max-width: 375px){
    .menu__button{
        width: 40px;
    }

    .header__nav-list.show{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(210, 200, 190, 0.9);
        height: 100vh;
        width: 100vw;
        transition: margin-left 4s;
        -webkit-transition: margin-left 4s;
        -moz-transition: margin-left 4s;
        -ms-transition: margin-left 4s;
        -o-transition: margin-left 4s;
        font-size: 1em;
    }

    .nuestras-pastas{
        width: 100%;
        height: 60vh;
    }

    .nuestras-pastas-1__title{
        left: 0;
        margin: auto;
    }

    .nuestras-pastas__2{
        height: 100vh;
    }

    .nuestros-sabores{
        width: 100%;
    }

    .nuestros-sabores__2{
        width: 93vw;
        height: 60vh;
        background: url('./img/nuestros-sabores-bg.jpeg'), center / cover no-repeat;
    }

    .nuestros-sabores-2__title{
        left: 0;
        margin: auto;
    }

    .nuestros-sabores__1{
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
    }

    .nuestros-sabores__1-list{
        left: 0;
        margin: 0;
    }


    .nuestras-salsas{
        margin-top: 15px;
    }

    .nuestras-salsas-1__title{
        left: 0;
        margin: auto;
    }

    .nuestros-combos{
        margin-top: -350px;
    }

    .nuestros-combos-2__title{
        left: 0;
        margin: auto;
    }

    .pedidos{
        margin-top: -180px;
    }

    .pedidos-1__title{
        left: 0;
        margin: auto;
    }

    .pedidos__2{
        height: 40vh;
    }

    .nuestras-formas-pagos{
        margin-top: -250px;
    }

    .nuestras-formas-pagos__1-list{
        top: 10%;
        left: 0;
        margin: auto;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px){

    .header__img{
        width: 50%;
    }

    .header__nav-list{
        display: none;
    }

    .menu__button{
        display: block;
        margin-left: 50%;
        z-index: 2;
    }

    .header__nav-list.show{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(210, 200, 190, 0.9);
        height: 100vh;
        width: 100vw;
        transition: margin-left 4s;
        -webkit-transition: margin-left 4s;
        -moz-transition: margin-left 4s;
        -ms-transition: margin-left 4s;
        -o-transition: margin-left 4s;
    }

    .nav-list__li{
        padding: 10px;
        font-size: 2em;
    }

    .nav-list__li:first-child{
        margin-top: 10px;
    }

    .nuestras-pastas{
        margin-top: 200px;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .nuestras-pastas__1{
        width: 100%;
        height: 25vh;
    }

    .nuestras-pastas__2{
        width: 100%;
        height: fit-content;
    }

    .nuestras-pastas__2-list{
        margin-top: -50px;
        font-size: 1.8em;
    }

    .nuestras-pastas-1__title{
        left: 0;
        margin: auto;
    }

    .nuestros-sabores{
        flex-direction: column;
        margin-top: 200px;
        margin-bottom: 0;
    }

    .nuestros-sabores__2{
        order: 1;
        width: 100%;
        height: 25vh;
    }

    .nuestros-sabores__1{
        order: 2;
        width: 100%;
        height: fit-content;
    }

    .nuestros-sabores__1-list{
        margin-bottom: 30px;
    }


    .nuestras-salsas{
        flex-direction: column;
    }

    .nuestras-salsas__1{
        width: 100%;
        height: 25vh;
    }

    .nuestras-salsas__2{
        width: 100%;
        height: 250px;
    }

    .nuestras-salsas__2-list{
        top: 10%;
        left: 0;
        margin: auto;
    }

    .nuestros-combos{
        flex-direction: column;
        margin-top: -10vh;
    }

    .nuestros-combos__1{
        order: 2;
        width: 100%;
        height: 400px;
    }

    .nuestros-combos__2{
        order: 1;
        width: 100%;
        height: 25vh;
    }

    .pedidos{
        flex-direction: column;
        margin-top: -5vh;
    }

    .pedidos__1{
        width: 100%;
        height: 25vh;
    }

    .pedidos__2{
        width: 100%;
        height: 400px;
    }

    .nuestras-formas-pagos{
        flex-direction: column;
        margin-top: -12vh;
    }

    .nuestras-formas-pagos__2{
        width: 100%;
        height: 25vh;
        order: 1;
    }

    .nuestras-formas-pagos-2__title{
        left: 0;
        margin: auto;
    }

    .nuestras-formas-pagos__1{
        width: 100%;
        height: 300px;
        order: 2;
    }

    .footer{
        margin-top: -10vh;
    }
}

@media (max-width: 1280px){
    .header__nav-list{
        margin-right: -200px;
    }
}