@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');

:root{
    --background-color: rgb(232, 228, 217);
    --header-color: rgb(210, 200, 190);
    --glass-effect: rgba(255, 255, 255, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(232, 228, 217);
}

/* Header secction */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.header__div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title{
    font-size: 35px;
    text-decoration: underline;
    font-weight: bold;
}

.header__img{
    width: 100px;
}

.header__nav{
    width: 800px;
}

.header__nav-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 400;
}

.nav-list__li-a:hover{
    color: #f4f4f4;
    text-decoration: underline wavy;
}

.menu-btn{
    display: none;
}

/* Nuestras pastas */
.secciones{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.titulos__div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.nuestras-pastas__1{
    background: url('./img/nuestas-pastas-bg.jpeg') center / cover no-repeat;
}

.titulos{
    font-size: 35px;
    text-decoration: underline;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: var(--glass-effect);
}

.listas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    background-color: var(--header-color);
}

.nuestros-sabores__1{
    justify-content: space-evenly;
}

.nuestros-sabores__2{
    background: url('./img/nuestros-sabores-bg.jpeg') center / cover no-repeat;
}

.nuestras-salsas__1{
    background: url('./img/nuestras-salsas-bg.jpeg') center / cover no-repeat;
}

.nuestros-combos__1{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 20px;
}

.nuestros-combos__2{
    background: url('./img/WhatsApp\ Image\ 2022-03-08\ at\ 22.45.47\(1\).jpeg') center / cover no-repeat;
}

.pedidos__1{
    background: url('./img/pedidos-bg.jpeg') center / cover no-repeat;
}

.nuestras-formas-pagos__2{
    background: url('./img/formas-de-pago.jpeg') center / cover no-repeat;
}

.footer{
    width: 100vw;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.footer h2{
    text-decoration: underline;
    font-weight: bold;
}

@media (max-width: 640px){

    .header__div{
        margin-left: 50px;
    }

    .menu-btn{
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        border: 3px solid #f4f4f4;
        z-index: 10;
    }

    .menu-btn__lines{
        width: 50px;
        height: 6px;
        background: #f4f4f4;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }

    .menu-btn__lines::before, 
    .menu-btn__lines::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 6px;
        background: #f4f4f4;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }

    .menu-btn__lines::before{
        transform: translateY(-16px);
        -webkit-transform: translateY(-16px);
        -moz-transform: translateY(-16px);
        -ms-transform: translateY(-16px);
        -o-transform: translateY(-16px);
}
    .menu-btn__lines::after{
        transform: translateY(16px);
        -webkit-transform: translateY(16px);
        -moz-transform: translateY(16px);
        -ms-transform: translateY(16px);
        -o-transform: translateY(16px);
}

    .menu-btn.open .menu-btn__lines{
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
}

    .menu-btn.open .menu-btn__lines::before{
        transform: rotate(45deg) translate(35px, -35px);
        -webkit-transform: rotate(45deg) translate(35px, -35px);
        -moz-transform: rotate(45deg) translate(35px, -35px);
        -ms-transform: rotate(45deg) translate(35px, -35px);
        -o-transform: rotate(45deg) translate(35px, -35px);
}
    .menu-btn.open .menu-btn__lines::after{
        transform: rotate(-45deg) translate(35px, 35px);
        -webkit-transform: rotate(-45deg) translate(35px, 35px);
        -moz-transform: rotate(-45deg) translate(35px, 35px);
        -ms-transform: rotate(-45deg) translate(35px, 35px);
        -o-transform: rotate(-45deg) translate(35px, 35px);
}

    .header__nav-list{
        display: none;
}

    .header__nav-list.open{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(210, 200, 190, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #pastas{
        margin-top: 100px;
    }

    .secciones{
        grid-template-columns: 1fr;
    }

    .titulos__div{
        height: 35vh;
    }

    .listas{
        height: 50vh;
        flex-direction: column;
    }

    .nuestros-sabores__1, .nuestros-combos__1, .nuestras-formas-pagos__1{
        order: 2;
        text-align: center;
    }
}

@media (max-width: 768px){

    .header__div{
        margin-left: 50px;
    }

    .menu-btn{
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        border: 3px solid #f4f4f4;
        z-index: 10;
    }

    .menu-btn__lines{
        width: 50px;
        height: 6px;
        background: #f4f4f4;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }

    .menu-btn__lines::before, 
    .menu-btn__lines::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 6px;
        background: #f4f4f4;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }

    .menu-btn__lines::before{
        transform: translateY(-16px);
        -webkit-transform: translateY(-16px);
        -moz-transform: translateY(-16px);
        -ms-transform: translateY(-16px);
        -o-transform: translateY(-16px);
}
    .menu-btn__lines::after{
        transform: translateY(16px);
        -webkit-transform: translateY(16px);
        -moz-transform: translateY(16px);
        -ms-transform: translateY(16px);
        -o-transform: translateY(16px);
}

    .menu-btn.open .menu-btn__lines{
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
}

    .menu-btn.open .menu-btn__lines::before{
        transform: rotate(45deg) translate(35px, -35px);
        -webkit-transform: rotate(45deg) translate(35px, -35px);
        -moz-transform: rotate(45deg) translate(35px, -35px);
        -ms-transform: rotate(45deg) translate(35px, -35px);
        -o-transform: rotate(45deg) translate(35px, -35px);
}
    .menu-btn.open .menu-btn__lines::after{
        transform: rotate(-45deg) translate(35px, 35px);
        -webkit-transform: rotate(-45deg) translate(35px, 35px);
        -moz-transform: rotate(-45deg) translate(35px, 35px);
        -ms-transform: rotate(-45deg) translate(35px, 35px);
        -o-transform: rotate(-45deg) translate(35px, 35px);
}

    .header__nav-list{
        display: none;
}

    .header__nav-list.open{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(210, 200, 190, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #pastas{
        margin-top: 100px;
    }

    .nuestros-sabores__1{
        height: fit-content;
    }

    .secciones{
        grid-template-columns: 1fr;
    }

    .titulos__div{
        height: 35vh;
    }

    .listas{
        height: 50vh;
    }

    .nuestros-sabores__1, .nuestros-combos__1, .nuestras-formas-pagos__1{
        order: 2;
        text-align: center;
    }

}